apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: queueflow-redis-pvc
  labels:
    app: queueflow-redis
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
